body {
    width: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: #FFE4C4;
}


.heading {
    text-align: center;
    margin-top: 30px;
    font-family: "Times New Roman";
    font-size: 20px;
}

.formula {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}

.input-data { 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    margin: 0 auto;
    margin-top: 65px;
    width: 80%;
    justify-items: center; 
    align-items: center; 
}

.element {
    width: 100px;
    height: 20px;
    background-color: white;
    border-radius: 20%;
    padding-left: 5px;
}

.button {
    width: 150px;
    height: 50px;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    filter: brightness(120%)
} 