body {
    width: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: white;
}


.heading {
    text-align: center;
    margin-top: 30px;
    font-family: "Times New Roman";
    font-size: 20px;
}

.formula {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}

.input-data {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    position: relative; 
    margin: 0 auto;
    margin-top: 70px;
    width: 80%;
    justify-items: center; 
    align-items: center;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 160px;
    padding: 5px;
    border-radius: 5px;
    background: #30b0cd;
    color: white;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    margin: 40px auto 0;
}

.button:hover, .button:focus, .button:active {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: scale(1.1);
}


.element {
    width: 100px;
    height: 20px;
    background-color: white;
    border-radius: 20%;
    padding-left: 5px;
}