<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор палива</title>
    <link rel = "stylesheet" href = "D:\FuelCalculator\css\styles.css">
</head>
<body>
   <div class="heading">
        <h4>Розрахунок складу сухої та горючої маси палива та нижчої теплоти згоряння для робочої, сухої та горючої маси</h4>
   </div>
   <div class = "formula">
        <p>C<sup>P</sup> + H<sup>P</sup> + S<sup>P</sup> + O<sup>P</sup> + N<sup>P</sup> + A + W = 100%</p>
   </div>
   <div class = "input-data">
        <input class = "element">
        <input class = "element">
        <input class = "element">
        <input class = "element">
        <input class = "element">
        <input class = "element">
        <input class = "element">
     </div>
     <div class = "button">
          Розрахувати 
     </div>
</body>
</html>