<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Calculator</title>
    <link rel = "stylesheet" href = "D:\FuelCalculator\css\styles.css">
</head>
<body>
   <img class = "icon" src = "D:\FuelCalculator\image\free-icon-fossil-fuel-8914652.png" alt="Fuel Icon">
   <div class="heading">
        <p>Fuel Calculator</p>
   </div>
   <div class = "input-data">
     <div class="input-wrapper">
          <input type="text" required>
          <label>С<sup>P</sup></label>
      </div>
      <div class="input-wrapper">
          <input type="text" required>
          <label>H<sup>P</sup></label>
      </div>
      <div class="input-wrapper">
          <input type="text" required>
          <label>S<sup>P</sup></label>
      </div>
      <div class="input-wrapper">
          <input type="text" required>
          <label>O<sup>P</sup></label>
      </div>
      <div class="input-wrapper">
          <input type="text" required>
          <label>N<sup>P</sup></label>
      </div>
      <div class="input-wrapper">
          <input type="text" required>
          <label>A<sup>P</sup></label>
      </div>
      <div class="input-wrapper">
          <input type="text" required>
          <label>W<sup>P</sup></label>
      </div>                                         
     </div>
     <div class = "button">
          Calculate 
     </div>
</body>
</html>