<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Calculator</title>
    <link rel = "stylesheet" href = "D:\FuelCalculator\css\styles.css">
</head>
<body>
   <img class = "icon" src = "D:\FuelCalculator\image\free-icon-fossil-fuel-8914652.png" alt="Fuel Icon">
   <div class="heading">
        <p>Fuel Calculator</p>
   </div>
   <div class = "input-data">
        <input placeholder = "C" class = "element">
        <input placeholder = "H" class = "element">
        <input placeholder = "S" class = "element">
        <input placeholder = "O" class = "element">
        <input placeholder = "N" class = "element">
        <input placeholder = "A" class = "element">
        <input placeholder = "W" class = "element">
     </div>
     <div class = "button">
          Calculate 
     </div>
</body>
</html>